* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.header {
  width: 1920px;
  height: 100px;
  background-color: #ffb72b;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.sidebar {
  width: 100px;
  height: 1080px;
  background-color: black;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  position: absolute;
  left: 0;
  top: 0;
}
.sidebar a{
  margin-top: 16px;
  padding: 16px;
  border-radius: 15px;
}
.sidebar a:hover {
  /* color: black; */
  background-color: #ffb72b;
}
.sidebar .item6 a{
  color: black;
  background-color: #ffb72b;
}
.item {
  height: 100px;
  flex-basis: 100px;
  text-align: center;
}
.fas {
  color: white;
  padding: 1em;
  text-decoration: none;
}
.nav__form i{
  position: absolute;
}
.nav__form{
  margin-bottom: 10px;
}
.icon{
  padding: 10px;
  min-width: 40px;
  color: #ffb72b;
}
.input-field{
  padding: 10px;
  padding-left: 45px;
  text-align: left;
  width: 303px;
  height: 55px;
  border-radius: 15px;
  outline: none;
  border: none;
  font-size: 20px;
}
.info p {
  text-align: right;
  font-size: 20px;
}
.main-menu {
  font-size: 28px;
  width: 1700px;
  height: 765px;
  position: absolute;
  left: 162px;
  top: 250px;
  border: 1px solid #d9d9d9;
  border-radius: 15px;
}
tr a {
  text-decoration: none;
  color: black;
}
tr .row-delete {
  color: red;
}
.main-menu th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: white;
  color: black;
}
.main-menu td {
  font-size: 28px;
  text-align: center;
}
.main-menu td,
.main-menu th {
  padding: 8px;
}
.search-recycle .input-field {
  width: 303px;
  height: 51px;
  position: absolute;
  left: 1455px;
  top: 166px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #d9d9d9;
  color: black;
}