* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.header {
  width: 1920px;
  height: 100px;
  background-color: #ffb72b;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header .nav__form {
  margin-right: 0px;
}
.header .nav__icon--info {
  margin-right: 120px;
}
.header .nav__icon--info .fa-circle {
  color: red;
  position: absolute;
  top: 32px;
  left: 1450px;
}
.header .nav__text {
  margin-left: 0;
}
.header .na .header .nav__user--circle {
  margin-right: 81px;
}
.header .nav__user--circle .fa-user-circle {
  padding-left: 25px;
}
.sidebar {
  width: 100px;
  height: 1080px;
  background-color: black;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  position: absolute;
  left: 0;
  top: 0;
}
.sidebar a {
  margin-top: 16px;
  padding: 16px;
  border-radius: 15px;
}
.sidebar a:hover {
  /* color: black; */
  background-color: #ffb72b;
}
.sidebar .item6 a {
  color: black;
  background-color: #ffb72b;
}
.item {
  height: 100px;
  flex-basis: 100px;
  text-align: center;
}
.fas {
  color: white;
  padding: 1em;
  text-decoration: none;
}
.nav__form i {
  position: absolute;
}
.nav__form {
  margin-bottom: 10px;
}
.icon {
  padding: 10px 10px 10px 15px;
  min-width: 40px;
  color: #ffb72b;
}
.input-field {
  padding-top: 5px;
  padding-left: 55px;
  text-align: left;
  width: 303px;
  height: 55px;
  border-radius: 15px;
  outline: none;
  border: none;
  font-size: 22px;
}
.search-recycle {
  position: absolute;
  left: 1470px;
  top: 166px;
}
.search-recycle .input-field-recycle {
  font-size: 18px;
  padding-left: 15px;
  position: relative;
  width: 303px;
  height: 51px;
  border-radius: 10px;
  background: #d9d9d9;
  border: none;
  outline: none;
  padding-right: 42px;
}
.search-recycle .icon {
  position: absolute;
  right: 0;
  color: #8a8a8a;
}
.nav__text .info {
  margin-top: 1px;
}
.info p {
  text-align: right;
  font-size: 22px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
}
.info p:nth-child(2) {
  color: #606060;
}
tr a {
  text-decoration: none;
  color: black;
}
tr .row-delete {
  color: red;
}
.main_info {
  position: absolute;
  width: 1700px;
  height: 765px;
  left: 162px;
  top: 279px;

  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 20px;
}

table {
  border: 1px solid #D9D9D9;
  border-radius: 15px;
}

tr a {
  text-decoration: none;
  color: black;
}

tr .row-delete {
  color: red;
}
.main_info .first-column {
  text-align: left;
}
.main_info .first-column-name {
  text-align: left;
}
.main_info th {
  text-align: center;
}
.main-
.main_info>th {
  padding-left: 50px;
  background-color: white;
}
.main_info td {
  border-top: 1px solid #D9D9D9;
  /* padding: 8px; */
  text-align: center;
  padding-left: 50px;
  font-size: 20px;
  font-family: 'Source Sans 3', sans-serif;
}

.section_info {
  border-top: 1px solid #D9D9D9;
  color: black;
  text-align: left;
  padding-left: 50px;
  font-size: 22px;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
}

.name_table>th {
  padding-left: 50px;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  padding-left: 50px;
  text-align: left;
  color: #606060;
}

.main_info .true:hover {
  background-color: #606060;
  color: white;
  border-radius: 5px;
}

.main_info .false:hover {
  background-color: #D71919;
  color: white;
  border-radius: 5px;
}
.main_info .false {
  color: red;
}
.main_info a {
  padding: 10px;
}
.end-table td {
  border-bottom: 1px solid #D9D9D9;
}
.pagination-menu{
  visibility: hidden;
}
.pagination {
  position: absolute;
  left: 899px;
  top: 1000px;
}
.pagination a {
  color: black;
  background-color: #d9d9d9;
  margin: 2px;
  float: left;
  padding: 6px 10px;
  border-radius: 10px;
  text-decoration: none;
  transition: background-color 0.3s;
}
.pagination a.active {
  background-color: #FFB72B;
  color: white;
}
.pagination a:hover {
  background-color: #FFB72B;
}
